@import "../../../../utils.scss";

:host {
  @include blockViewPort();
  justify-content: start;
}

.timeline-blocks {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}
