<div class="container" style="display: flex; flex-direction: column">
  <div class="neon-line purple"></div>

  <div class="inner-content">
    <h2>About Me</h2>

    <p>
      Digital Native, mit dem Hang zum Minimalismus und Purismus. Langjähriger
      Frontend Developer, der mit beiden Händen in neuen Tech Stacks wühlt und
      Trends in der Developer-Szene fancy findet. Hängt in der Freizeit an der
      Kletterwand, treibt sich gern in der Natur herum oder ist auf der Suche
      nach einer passenden "Dungeons & Dragons™"-Gruppe.
      <i class="fa-solid fa-dice"></i>
    </p>
  </div>

  <div class="neon-line cyan bottom"></div>
</div>
