<div class="container" style="display: flex; flex-direction: column">
  <div class="neon-line purple"></div>

  <div class="inner-content">
    <h2>About Me</h2>

    <p>
      Hi, ich heiße Marco und komme aus Berlin. Mein Fokus liegt in der
      Web-Entwicklung mit Frameworks wie Angular, React oder Svelte. Neben
      klassischer Web Application Entwicklung tauche ich auch immer wieder gern
      in Mobile Frameworks und Sprachen wie Ionic, Flutter oder Xamarin ab oder
      beschäftige mich mit Software-Architektur. Und wenn ich mal nicht an der
      Tastatur sitze, dann hänge ich an den Wänden der Boulderhallen, verbiege
      mich beim Yoga oder genieße die frische Luft im Wald.
    </p>
  </div>

  <div class="neon-line cyan bottom"></div>
</div>
