@import '../../../../breakpoints.scss';
@import '../../../../utils.scss';

:host {
  @include blockViewPort();
}

.inner-content {
  margin: 0;

  @include breakpoint('s') {
    margin: 2rem;
  }
}

.neon-line {
  width: 50%;

  @include breakpoint('s') {
    width: 25%;
  }

  &.bottom {
    align-self: flex-end;
  }
}
