<h2>Letzten Projekte</h2>
<div class="project-gallery">
  <div class="project-card">
    <img src="assets/images/squirrel-news-app_thumbnail.png" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    </p>
  </div>

  <div class="project-card">
    <img src="assets/images/squirrel-news-app_thumbnail.png" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    </p>
  </div>

  <div class="project-card">
    <img src="assets/images/squirrel-news-app_thumbnail.png" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    </p>
  </div>
</div>
