@import "../../../../breakpoints.scss";
@import "../../../../utils.scss";

:host {
  @include blockViewPort();
}

.project-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.project-card {
  max-width: 350px;
}

img {
  width: 100%;

  &:hover {
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
  }
}
