:root {
  --text-color: #191a1d;
  --color-primary: #4b6cc1;
  --link-hover: #4b6cc1;
  --navigation: #5e5e5e;
  --color-tag-background: #ededed;
  --color-shadow: #a7a7a7;
  --color-accent: #1c8783;
}

