:root {
  --text-color: #191a1d;
  --color-primary: #1556ac;
  --color-primary-hover: #2569c3;
  --navigation: #5e5e5e;
  --color-tag-background: #ededed;
  --color-shadow: #a7a7a7;
  --color-accent: #1c8783;
  --color-background: #fafafa;
}

