@import "colors";
@import "utilities";

body {
  font-family: 'Poppins', sans-serif;
  color: #191a1d;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: var(--link-hover) !important;
}