---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
---

<Layout title="About">
    <MainHeader />
    <main>
        <p>About me</p>
    </main>
</Layout>