---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="/assets/images/me_vertical.png" alt="Placeholder Text" />
        </div>
        <div class="col-md-6 col-sm-12">
          <h3>Darum bin ich Entwickler</h3>
          <p class="last-paragraph">
            Seit mittlerweile <span class="highlight">9 Jahren</span> stecke ich
            meine Nase in Code und schiebe Pixel von A nach B. Ich liebe es, nur
            aus Buchstaben und Sonderzeichen Oberflächen entstehen zu lassen, die
            dem Nutzer Freude bereiten und die tägliche Arbeit erleichtern. Die Software-Entwicklung
            ist für mich zur <span class="highlight"
              >Leidenschaft und Passion</span
            >
            geworden, die es mir ermöglicht, ein Leben lang zu lernen und niemals
            stehen bleiben zu müssen.
          </p>

          <h3>Meine Erfahrungen</h3>
          <p>
            Aufgewachsen in der Full Stack Entwicklung für Logistik-Prozesse im
            RFID-Bereich, bin ich nach und nach tiefer in die mobile Entwicklung
            abgetaucht. Durch verschiedenste Projekte habe ich
            Plattform-Migrationen von Bestandsanwendungen <span
              class="highlight">von Windows CE nach Xamarin.Forms</span
            >
            führend mitentwickelt, komplexe Abläufe vom Wareneingang, über Warenverfolgung
            bis zu Bestandsaufnahmen in den einzelnen Filialen aufgebaut sowie auch
            kleinere dezentrale Lösungen für Kunden auf die Beine gestellt.
          </p>
        </div>

        <p class="col-12 last-paragraph">
          Da mich die Web Entwicklung aber so sehr faszinierte mit ihren
          Möglichkeiten und der Geschwindigkeit, habe ich entschlossen tiefer in
          Frameworks wie <span class="highlight">Angular und React</span> einzutauchen.
          Seit 2021 entwickle ich professionelle Enterprise-Anwendungen für große
          Kunden mit sehr viel Herzblut und Leidenschaft.
        </p>
      </div>

      <h3>Wo die Reise hingeht</h3>
      <p>
        Ich liebe es, mich in komplexe Themen und Strukturen ein zudenken.
        Deshalb vertiefe ich mein Wissen in <span class="highlight"
          >Web und Software Architektur</span
        > weiter, da ich nicht an der UI halt machen will, sondern immer das ganze
        System verstehen möchte.
      </p>

      <p class="last-paragraph">
        Ausserdem ist das Thema <span class="highlight">Software Security</span>
        ein absolut wichtiges Thema, da es immer auch für Anfänger immer leichter
        wird in Systeme einzudringen oder Daten zu stehlen. Um sich dagegen zu schützen
        ist es nicht nur maßgeblich wichtig zu verstehen, wie die eigene Software
        gehärtet werden kann, sondern auch die Schulung und Weiterbildung der Nutzer
        und Administratoren darf nicht zu kurz kommen, weshalb ich meine Fähigkeiten
        in diesem Bereich langfristig entwickeln werde.
      </p>

      <h3>Und wenn ich nicht an der Tastatur sitze...</h3>
      <p class="last-paragraph">
        …dann findet man mich bei einer guten Tasse Kaffee und in einem Buch
        versunken im Park, wie ich mich gerade zur Brezel verbiege beim Yoga
        oder hängend an einer Wand beim Bouldern oder Seilklettern. Für mehr
        Offline-Zeit verbringe ich öfters Nächte im Wald oder genieße das
        Rauschen des Meeres.
      </p>

      <img src="/assets/images/me_horizontal.png" alt="Placeholder Text" />
    </div>
  </main>
</Layout>

<style>
  img {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .last-paragraph {
    margin-bottom: 4rem;
  }
</style>
