---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
---

<Layout title="About">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="/assets/images/me.jpg" alt="Placeholder Text" />
        </div>
        <div class="col-md-6 col-sm-12">
          <h3>Darum bin ich Entwickler</h3>
          <p>
            Seit mittlerweile 9 Jahren stecke ich meine Nase in Code und schiebe
            Pixel von A nach B. Ich liebe es, nur aus Buchstaben und
            Sonderzeichen Oberflächen entstehen zu lassen, die dem Nutzer Freude
            bereiten und die tägliche Arbeit erleichtern. Die
            Software-Entwicklung ist für mich zur Leidenschaft und Passion
            geworden, die es mir ermöglicht, ein Leben lang zu lernen und
            niemals stehen bleiben zu müssen.
          </p>
        </div>
      </div>
    </div>

    <h3>Meine Erfahrungen</h3>
    <p>Lorem Ipsum</p>

    <h3>Wo die Reise hingeht</h3>
    <p></p>

    <h3>Und wenn ich nicht an der Tastatur sitze...</h3>
    <div class="row">
      <p class="col-md-6 col-sm-12">
        …dann findet man mich bei einer guten Tasse Kaffee in einem Buch
        versunken im Park, oder hängend an einer Wand beim bouldern oder
        Seilklettern. Für mehr Offline-Zeit verbringe ich öfters Nächte im Wald
        oder genieße das Rauschen des Meeres.
      </p>

      <div class="col-md-6 col-sm-12">
        <img src="/assets/images/me.jpg" alt="Placeholder Text" />
      </div>
    </div>
  </main>
</Layout>

<style>
  img {
    max-width: 100%;
  }
</style>
