---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
  <main>
    <h2>Impressum</h2>

    <h4>Angaben gem. § 5 TMG:</h4>
    <p>
      Marco Rehmer
      <br />Dolgenseestraße 9c
      <br />10319 Berlin
    </p>

    <h4>Kontakt:</h4>
    <p>
      E-Mail: dev@marco-rehmer.de<br />
      Telefon: +49 151 / 201 68 156
    </p>

    <h2>Datenschutzerklärung</h2>
    <h3 id="m716">Präambel</h3>
    <p>
      Mit der folgenden Datenschutzerklärung möchte ich Sie darüber aufklären,
      welche Arten Ihrer personenbezogenen Daten (nachfolgend auch kurz als
      "Daten“ bezeichnet) ich zu welchen Zwecken und in welchem Umfang
      verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten
      Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Erbringung
      unserer Leistungen als auch insbesondere auf meinen Webseiten, in mobilen
      Applikationen sowie innerhalb externer Onlinepräsenzen, wie z.B. meiner
      Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als
      "Onlineangebot“).
    </p>
    <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
    <p>Stand: 12. Juni 2023</p>

    <h3 id="mOverview">Übersicht der Verarbeitungen</h3>
    <p>
      Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die
      Zwecke ihrer Verarbeitung zusammen und verweist auf die betroffenen
      Personen.
    </p>
    <h4>Arten der verarbeiteten Daten</h4>
    <ul>
      <li>Inhaltsdaten.</li>
      <li>Nutzungsdaten.</li>
      <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
    </ul>
    <h4>Kategorien betroffener Personen</h4>
    <ul>
      <li>Nutzer.</li>
    </ul>
    <h4>Zwecke der Verarbeitung</h4>
    <ul>
      <li>Informationstechnische Infrastruktur.</li>
    </ul>
    <h4 id="m13">Maßgebliche Rechtsgrundlagen</h4>
    <p>
      Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO,
      auf deren Basis ich personenbezogene Daten verarbeite. Bitte nehmen Sie
      zur Kenntnis, dass neben den Regelungen der DSGVO nationale
      Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten
      können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen
      maßgeblich sein, teile ich Ihnen diese in der Datenschutzerklärung mit.
    </p>
    <ul>
      <li>
        <strong
          >Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong
        > - Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen
        oder eines Dritten erforderlich, sofern nicht die Interessen oder Grundrechte
        und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener
        Daten erfordern, überwiegen.
      </li>
    </ul>
    <p>
      Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale
      Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das
      Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei der
      Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
      insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf
      Löschung, zum Widerspruchsrecht, zur Verarbeitung besonderer Kategorien
      personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur
      Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall
      einschließlich Profiling. Ferner können Landesdatenschutzgesetze der
      einzelnen Bundesländer zur Anwendung gelangen.
    </p>
    <h3 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h3>
    <p>
      Ich verarbeite die Daten der Nutzer, um ihnen unsere Online-Dienste zur
      Verfügung stellen zu können. Zu diesem Zweck verarbeite ich die IP-Adresse
      des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer
      Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.
    </p>
    <ul class="m-elements">
      <li>
        <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten,
        Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen,
        Zeitangaben, Identifikationsnummern);
      </li>
      <li>
        <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher).
      </li>
      <li>
        <strong>Zwecke der Verarbeitung:</strong> Bereitstellung meines Onlineangebotes;
        Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen
        und technischen Geräten (Computer, Server etc.).).
      </li>
      <li>
        <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
        S. 1 lit. f) DSGVO).
      </li>
    </ul>
    <p>
      <strong
        >Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong
      >
    </p>
    <ul class="m-elements">
      <li>
        <strong
          >Bereitstellung Onlineangebot auf gemietetem Speicherplatz:
        </strong>Für die Bereitstellung meines Onlineangebotes nutze ich
        Speicherplatz, Rechenkapazität und Software, die ich von einem
        entsprechenden Serveranbieter (auch "Webhoster" genannt) miete oder
        anderweitig beziehe; <strong>Rechtsgrundlagen:</strong>
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
      </li>
      <li>
        <strong>E-Mail-Versand und -Hosting:</strong>Die von mir in Anspruch
        genommenen Webhosting-Leistungen umfassen ebenfalls den Versand, den
        Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden die
        Adressen der Empfänger sowie Absender als auch weitere Informationen
        betreffend den E-Mailversand (z.B. die beteiligten Provider) sowie die
        Inhalte der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten
        können ferner zu Zwecken der Erkennung von SPAM verarbeitet werden. Ich
        bitten darum, zu beachten, dass E-Mails im Internet grundsätzlich nicht
        verschlüsselt versendet werden. Im Regelfall werden E-Mails zwar auf dem
        Transportweg verschlüsselt, aber (sofern kein sogenanntes
        Ende-zu-Ende-Verschlüsselungsverfahren eingesetzt wird) nicht auf den
        Servern, von denen sie abgesendet und empfangen werden. Ich kann daher
        für den Übertragungsweg der E-Mails zwischen dem Absender und dem
        Empfang auf unserem Server keine Verantwortung übernehmen; <strong
          >Rechtsgrundlagen:</strong
        >
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
      </li>
      <li>
        <strong>netcup:</strong>Leistungen auf dem Gebiet der Bereitstellung von
        informationstechnischer Infrastruktur und verbundenen Dienstleistungen
        (z.B. Speicherplatz und/oder Rechenkapazitäten); <strong
          >Dienstanbieter:</strong
        >
        netcup GmbH, Daimlerstraße 25, D-76185 Karlsruhe, Deutschland; <strong
          >Rechtsgrundlagen:</strong
        >
        Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); <strong
          >Website:</strong
        >
        <a href="https://www.netcup.de/" target="_blank"
          >https://www.netcup.de/</a
        >; <strong>Datenschutzerklärung:</strong>
        <a
          href="https://www.netcup.de/kontakt/datenschutzerklaerung.php"
          target="_blank"
          >https://www.netcup.de/kontakt/datenschutzerklaerung.php</a
        >;
        <strong>Auftragsverarbeitungsvertrag:</strong>
        <a
          href="https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung"
          target="_blank"
          >https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung</a
        >.
      </li>
    </ul>
    <h3 id="m104">Blogs und Publikationsmedien</h3>
    <p>
      Ich nutze Blogs oder vergleichbare Mittel der Onlinekommunikation und
      Publikation (nachfolgend "Publikationsmedium"). Die Daten der Leser werden
      für die Zwecke des Publikationsmediums nur insoweit verarbeitet, als es
      für dessen Darstellung und die Kommunikation zwischen Autoren und Lesern
      oder aus Gründen der Sicherheit erforderlich ist. Im Übrigen verweise ich
      auf die Informationen zur Verarbeitung der Besucher unseres
      Publikationsmediums im Rahmen dieser Datenschutzhinweise.
    </p>
    <ul class="m-elements">
      <li>
        <strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten,
        Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen,
        Zeitangaben).
      </li>
      <li>
        <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher).
      </li>
      <li>
        <strong>Zwecke der Verarbeitung:</strong>
        Bereitstellung meines Onlineangebotes.
      </li>
      <li>
        <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1
        S. 1 lit. f) DSGVO).
      </li>
    </ul>

    <h3 id="m15">Änderung und Aktualisierung der Datenschutzerklärung</h3>
    <p>
      Ich bitte Sie, sich regelmäßig über den Inhalt unserer
      Datenschutzerklärung zu informieren. Ich passe die Datenschutzerklärung
      an, sobald die Änderungen der von mir durchgeführten Datenverarbeitungen
      dies erforderlich machen. Ich informiere Sie, sobald durch die Änderungen
      eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige
      individuelle Benachrichtigung erforderlich wird.
    </p>
    <p>
      Sofern ich in dieser Datenschutzerklärung Adressen und
      Kontaktinformationen von Unternehmen und Organisationen angebe, bitten ich
      zu beachten, dass die Adressen sich über die Zeit ändern können und bitte
      die Angaben vor Kontaktaufnahme zu prüfen.
    </p>
    <p class="seal">
      <a
        href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
        Schwenke</a
      >
    </p>
  </main>
</Layout>

<style>
  p {
    font-size: unset;
  }
</style>
