---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import MainSkills from "../components/MainSkills.astro";
import LatestProjects from "../components/LatestProjects.astro";
---

<Layout title="Marco Rehmer | Frontend Developer">
  <main>
    <div class="hero-block">
      <Hero />
    </div>

    <h2>Wer bin ich?</h2>
    <div class="personal-description">
      <p>
        Hi, ich heiße Marco und komme aus Berlin. Mein Fokus liegt in der
        Web-Entwicklung mit Frameworks wie <b>Angular, React oder Svelte</b>.
      </p>
      <p>
        Neben klassischer Web Application Entwicklung tauche ich auch immer
        wieder gern in Mobile Frameworks und Sprachen wie <b
          >Ionic, Flutter oder Xamarin</b
        > ab.
      </p>
      <p>
        Da ich als Frontend Developer nicht an der UI halt mache, sondern das
        ganze System kennen und verstehen will, gehört für mich ein
        fundamentales Wissen über <b>Software-Architektur</b> dazu.
      </p>
    </div>

    <h2 class="headline-space">Meine Fähigkeiten</h2>
    <div>
      <MainSkills />
    </div>

    <h2 class="headline-space">Aktuelle Projekte</h2>
    <div>
      <LatestProjects />
    </div>
  </main>
</Layout>

<style>
  .headline-space {
    margin-top: 120px;
  }

  .hero-block {
    min-height: 70vh;
    display: flex;
    align-items: center;
  }

  .personal-description {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 300;
  }

  main:last-child {
    margin-bottom: 2rem;
  }
</style>
