---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
import "../styles/global.scss";
import MainSkills from "../components/MainSkills.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Timeline from "../components/Timeline.astro";
import LatestProjects from "../components/LatestProjects.astro";
---

<Layout title="Marco Rehmer | Frontend Developer">
  <div class="root-layout">
    <div class="main-content">
      <MainHeader />
      <main class="m-top-2">

        <div>
          <Hero/>
        </div>
        <!--<div class="m-bottom-2">-->
        <!--  <h2>Timeline</h2>-->
        <!--  &lt;!&ndash;<Timeline />&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="m-bottom-2">-->
        <!--  <h2>Main Skills</h2>-->
        <!--  &lt;!&ndash;<MainSkills />&ndash;&gt;-->
        <!--  <button type="button" class="btn btn-outline-primary m-top-1"-->
        <!--    >Skill Tree-->
        <!--  </button>-->
        <!--</div>-->
        <!--<div class="m-bottom-2">-->
        <!--  <h2>Aktuelle Projekte</h2>-->
        <!--  &lt;!&ndash;<LatestProjects />&ndash;&gt;-->
        <!--  &lt;!&ndash;<ProjectDetails />&ndash;&gt;-->
        <!--  <button type="button" class="btn btn-outline-primary m-top-1"-->
        <!--    >Alle Projekte-->
        <!--  </button>-->
        <!--</div>-->
        <!--<h2>Aktuelle Blog-Beiträge</h2>-->
        <!--<RecentBlogPosts />-->
        <!--<button>zum Blog</button>-->
      </main>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .root-layout {
    max-width: 900px;
    margin: 4rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .main-content {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
</style>
