---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import MainSkills from "../components/MainSkills.astro";
---

<Layout title="Marco Rehmer | Frontend Developer">
  <main>
    <div class="hero-block">
      <Hero />
    </div>

    <h2>Wer bin ich?</h2>
    <div class="personal-description">
      <p>
        Hi, ich heiße Marco und komme aus Berlin. Mein Fokus liegt in der
        Web-Entwicklung mit Frameworks wie <b>Angular, React oder Svelte</b>.
      </p>
      <p>
        Da sich unsere Welt immer mehr auf dem Smartphone abspielt, tauche ich
        auch immer wieder gern in Frameworks und Sprachen wie <b
          >Ionic, Flutter oder Xamarin</b
        > ab.
      </p>
      <p>
        Ein Frontend Developer darf nicht an der UI halt machen, sondern muss
        auch das ganze System kennen und verstehen. Deshalb gehört für mich ein
        fundamentales Wissen über <b>Software-Architektur</b> dazu.
      </p>
    </div>

    <h2 style="margin-top: 80px;">Meine Fähigkeiten</h2>
    <div>
      <MainSkills />
    </div>
  </main>
</Layout>

<style>
  .hero-block {
    min-height: 70vh;
    display: flex;
    align-items: center;
  }

  .personal-description {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 300;
  }
</style>
