---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";

import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import MainSkills from "../components/MainSkills.astro";
---

<Layout title="Marco Rehmer | Frontend Developer">
  <div class="root-layout">
    <div class="main-content">
      <div style="padding: 0 1rem;">
      <MainHeader />
        </div>
      <main>
        <div style="min-height: 54vh">
          <Hero />
        </div>

        <h2>Wer bin ich?</h2>
        <p class="personal-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.
        </p>

        <div class="m-top-2">
          <MainSkills />
        </div>
        <!--<div class="m-bottom-2">-->
        <!--  <h2>Main Skills</h2>-->
        <!--  &lt;!&ndash;<MainSkills />&ndash;&gt;-->
        <!--  <button type="button" class="btn btn-outline-primary m-top-1"-->
        <!--    >Skill Tree-->
        <!--  </button>-->
        <!--</div>-->
        <!--<div class="m-bottom-2">-->
        <!--  <h2>Aktuelle Projekte</h2>-->
        <!--  &lt;!&ndash;<LatestProjects />&ndash;&gt;-->
        <!--  &lt;!&ndash;<ProjectDetails />&ndash;&gt;-->
        <!--  <button type="button" class="btn btn-outline-primary m-top-1"-->
        <!--    >Alle Projekte-->
        <!--  </button>-->
        <!--</div>-->
        <!--<h2>Aktuelle Blog-Beiträge</h2>-->
        <!--<RecentBlogPosts />-->
        <!--<button>zum Blog</button>-->
      </main>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .root-layout {
    max-width: 900px;
    margin: 4rem auto 1rem auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .main-content {
    width: 100%;
  }

  main {
    margin-top: 80px;
  }

  .scroll-hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    color: gray;
  }
</style>
