---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
---
<Layout title="My Skills">
    <main>
        <h2>coming soon...</h2>
    </main>
</Layout>