---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
---

<Layout title="My Skills">
    <MainHeader />
    <main>
        <p>here are my skills</p>
    </main>
</Layout>