---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/MainHeader.astro";
---

<Layout title="Timeline">
    <main>
        <h2>coming soon...</h2>
    </main>
</Layout>