<div class="container">
  <!-- arror right -->
  <img src="assets/images/arrow_right.png" class="arrow-image" />

  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;
    "
  >
    <img class="hero-image" src="assets/images/me_avatar.jpg" />

    <span class="hero-name">Marco Rehmer</span>
    <span class="hero-title">Software Developer</span>

    <!-- skill badges -->
    <div style="display: flex; column-gap: 2rem">
      <span class="skill-badge purple">Angular</span>
      <span class="skill-badge cyan">React</span>
      <span class="skill-badge purple">Go</span>
    </div>

    <a href="/skill-tree" class="skill-tree-button" [hidden]="true"
      >Full Skill Tree <i class="fa-solid fa-chevron-right"></i
    ></a>
  </div>

  <img class="arrow-image right" src="assets/images/arrow_right.png" />
</div>
