<footer>
  <div class="footer__content">
    <span id="copyright">© 2023 Marco Rehmer</span>
    <span>Handcrafted with <a href="https://astro.build">Astro</a>.</span>
  </div>
</footer>

<style lang="scss">
  #copyright {
    @media (min-width: 600px) {
      flex-grow: 1;
    }
  }

  .footer__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  footer:before {
    background-color: gray;
    display: block;
    height: 1px;
    content: "";
    width: 100%;
    margin-bottom: 0.5rem;
  }
</style>
