---
---
<p>Du hast ein interessantes Projekt, oder möchtest einfach mal "Hallo" sagen? Schreib mir gern
eine Mail oder ruf mich an!</p>
<div class="container">
  <div class="row">
    <span class="col-md-2"
      ><i class="fa-solid fa-envelope"></i> Mail:</span
    >
    <a href="mailto:dev@marco-rehmer.de" class="col-md-8">
      dev@marco-rehmer.de</a
    >
  </div>

  <div class="row">
    <span class="col-md-2"
      ><i class="fa-solid fa-phone"></i> Telefon:</span
    >
    <a href="tel:+4915120168156" class="col-md-8">
      +49 151 / 201 68 156</a
    >
  </div>
</div>

<style>
  .row {
    margin-bottom: 1rem;
  }

  span {
    white-space: nowrap;
  }
</style>
