<div class="root-content container">
  <div class="row">
    <h2 class="col-sm-12 col-md-6">
      <span>Frontend Developer.</span>
      <br /><span>Junior Software Architect.</span>
      <br /><span>Purist.</span>
    </h2>

    <img
      class="col-sm-12 col-md-6"
      src="/assets/images/me_avatar.jpg"
      alt="that's me"
    />
  </div>
</div>

<style lang="scss">
  img {
    max-width: 100%;
    border-radius: 10%;
  }

  .row {
    align-items: center;
  }

  .sub-headline {
    font-size: 1.25rem;
  }
</style>
