<div class="root-content container">
  <div class="row">
    <h2 class="col-sm-12 col-md-6">
      Frontend Developer. <br />Junior Software Architect. <br />Purist.
    </h2>

    <img
      class="col-sm-12 col-md-6"
      src="/assets/images/me.jpg"
      alt="that's me"
    />
  </div>
</div>

<style>
  img {
    max-width: 350px;
    border-radius: 10%;
  }

  .row {
    align-items: center;
  }

  .sub-headline {
    font-size: 1.25rem;
  }
</style>
