---
interface Project {
  title: string;
  imageUrl: string;
  tags: ReadonlyArray<string>;
}

const projects: ReadonlyArray<Project> = [
  {
    title: "foo",
    imageUrl: "#",
    tags: [],
  },
];
---

<div class="container">
  <div class="row">
    {
      projects.map((project) => {
        return <div class="col-md-4 col-sm-12">
          <div class="project-block" />
        </div>;
      })
    }
  </div>
</div>

<style>
  .project-block {
    width: 250px;
    height: 150px;
    background-color: #ccc;
  }
</style>
