---
interface Project {
  title: string;
  slug: string;
  imageUrl: string;
  imageAltText: string;
  tags: ReadonlyArray<string>;
}

const projects: ReadonlyArray<Project> = [
  {
    title: "Portfolio",
    slug: "portfolio",
    imageUrl: "/assets/images/me.jpg",
    imaegAltText: "Placeholder Image",
    tags: ["Astro", "Typescript"],
  },
  {
    title: "Clockmate",
    slug: "clockmate",
    imageUrl: "/assets/images/me.jpg",
    imaegAltText: "Placeholder Image",
    tags: ["Svelte", "NestJS"],
  },
  {
    title: "Squirrel News",
    slug: "squirrel-news",
    imageUrl: "/assets/images/me.jpg",
    imaegAltText: "Placeholder Image",
    tags: ["Ionic", "React"],
  },
];
---

<div class="container">
  <div class="row">
    {
      projects.map((project) => (
        <div class="col-md-4 col-sm-12">
          <div class="project-block">
            <a href={"/projects/" + project.slug}>
              <h4>{project.title}</h4>
              <img src={project.imageUrl} alt={project.imageAltText} />
            </a>

            <div class="tags-container">
              {project.tags.map((tag) => (
                <span>{tag}</span>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .row {
    row-gap: 2rem;
  }
  .project-block {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: bold;
    font-size: 1.15rem;
  }

  .tags-container {
    margin-top: 0.5rem;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

  .tags-container span {
    background: var(--color-tag-background);
    border-radius: 12px;
    padding: 0 0.5rem;
  }

  img {
    border-radius: 12px;
    box-sizing: content-box;
    width: 100%;
  }

  img:hover {
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    box-shadow: 4px 4px 4px var(--color-shadow);
  }

  a {
    color: var(--navigation);
  }
</style>
