---
import { projects } from "../data/projects";
---

<div class="container">
  <div class="row">
    {
      projects.map((project) => (
        <div class="col-md-4 col-6">
          <div class="project-block">
            <a href={"/projects/" + project.slug}>
              <h4>{project.title}</h4>
              <img src={project.imageUrl} alt={project.imageAltText} />
            </a>

            <div class="tags-container">
              {project.tags.map((tag) => (
                <span>{tag}</span>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .row {
    row-gap: 2rem;
  }

  .project-block {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-weight: bold;
    font-size: 1.15rem;
  }

  .tags-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    justify-content: flex-end;
  }

  .tags-container span {
    background: var(--color-tag-background);
    border-radius: 12px;
    padding: 0 0.5rem;
  }

  img {
    border-radius: 12px;
    box-sizing: content-box;
    width: 100%;
  }

  img:hover {
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    box-shadow: 4px 4px 4px var(--color-shadow);
  }

  a {
    color: var(--navigation);
  }
</style>
