---
import SimpleLevelIndicator from "./SimpleLevelIndicator.astro";
interface Skill {
  title: string;
  level: number;
}

const languages: ReadonlyArray<Skill> = [
  {
    title: "Typescript",
    level: 3,
  },
  {
    title: "HTML / CSS / JS",
    level: 3,
  },
  {
    title: "C#",
    level: 2,
  },
  {
    title: "Go",
    level: 1,
  },{
    title: "Dart",
    level: 1,
  },
];
const frameworks: ReadonlyArray<Skill> = [
  {
    title: "Angular",
    level: 3,
  },
  {
    title: "React",
    level: 3,
  },
  {
    title: "Svelte",
    level: 2,
  },
  {
    title: "Ionic",
    level: 2,
  },
  {
    title: "NestJS",
    level: 2,
  },
  {
    title: "Flutter",
    level: 1,
  },
];

function levelToStars(level: number): string {
  return (
    '<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>' +
    '<iclass="fa-solid fa-star"></i>'
  );
}
---

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Sprachen</h3>
      <ul>
        {
          languages.map((v) => (
            <li>
              <SimpleLevelIndicator level={v.level} />
              {v.title}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Frameworks</h3>
      <ul>
        {
          frameworks.map((v) => (
            <li>
              <SimpleLevelIndicator level={v.level} />
              {v.title}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  .container {
    padding: 0;
  }

  .skill-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  li {
    font-size: 1.15rem;
  }
</style>
