<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/">Marco Rehmer</a>

  <button type="button" class="btn btn-outline-primary"
    >CV <i class="fa-solid fa-download"></i></button
  >

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/projects">Projekte</a>
    </li>
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="#">Timeline</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" href="/skills">Skills</a>
    </li>
    <!--<li class="nav-item">-->
    <!--  <a class="nav-link" href="#">Blog</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>

<style>
  .navbar-brand {
    flex-grow: 1;
  }
</style>
