<a href="/" class="logo">
  <span class="logo__text">Marco Rehmer</span>
</a>

<div class="nav-wrapper">
  <nav class="navigation">
    <!--<a href="#">Blog</a>-->
    <a href="/timeline">Timeline</a>
    <a href="/projects">Projekte</a>
    <a href="/about">About</a>
  </nav>

  <div class="social-buttons">
    <a href="#">CV <i class="fa-regular fa-file-pdf cv-button"></i></a>
    <a href="https://github.com/marcorehmer"
      ><i class="fa-brands fa-github"></i></a
    >
  </div>
</div>

<style>
  .logo {
    display: inline-flex;
  }

  .logo__text {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .logo__text:after {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 25%;
    height: 6px;
    display: block;
    background-color: #4b6cc1;
    border-radius: 100px;
    content: "";
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    flex-wrap: wrap;
  }

  .navigation {
    display: flex;
    column-gap: 2rem;
    text-transform: uppercase;
    flex-wrap: wrap;
  }

  .navigation a {
    color: #5e5e5e;
    letter-spacing: 0.2rem;
  }

  .social-buttons {
    display: flex;
    column-gap: 1.5rem;
    font-size: 1.5rem;
  }

  .social-buttons a {
    color: var(--navigation);
  }

  .cv-button {
    color: var(--primary);
  }
</style>
