---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1];
---

<a href="/" class="logo">
  <span class="logo__text">Marco Rehmer</span>
</a>

<div class="nav-wrapper">
  <nav class="navigation">
    <a class={currentPath === "timeline" && "active"} href="/timeline"
      >Timeline</a
    >
    <!--<a class={currentPath === "projects" && "active"} href="/projects"-->
    <!--  >Projekte</a-->
    <!--&gt;-->
    <a class={currentPath === "about" && "active"} href="/about">About</a>
  </nav>

  <div class="social-buttons">
    <!--<a href="/assets/files/cv_MarcoRehmer_2023_07_06.pdf" download="cv_marco_rehmer.pdf"><i class="fa-regular fa-file-pdf"></i></a>-->
    <a href="https://github.com/marcorehmer"
      ><i class="fa-brands fa-github"></i></a
    >
    <a href="https://www.xing.com/profile/Marco_Rehmer017082/cv"
      ><i class="fa-brands fa-xing"></i></a
    >
    <a href="https://www.linkedin.com/in/marco-rehmer-a2b2a627b"
      ><i class="fa-brands fa-linkedin"></i></a
    >
  </div>
</div>

<style lang="scss">
  .logo {
    display: inline-flex;
  }

  .logo__text {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .logo__text:after {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 25%;
    height: 6px;
    display: block;
    background-color: var(--color-primary);
    border-radius: 100px;
    content: "";
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;

    @media (min-width: 600px) {
      font-size: 1.25rem;
    }
  }

  .navigation {
    display: flex;
    column-gap: 2rem;
    text-transform: uppercase;
    flex-wrap: wrap;
  }

  .navigation a {
    color: #5e5e5e;
    letter-spacing: 0.2rem;
  }

  .active {
    color: var(--color-primary) !important;
  }

  .social-buttons {
    display: flex;
    column-gap: 1.5rem;
    font-size: 1.25rem;

    @media (min-width: 600px) {
      font-size: 1.5rem;
    }
  }

  .social-buttons a {
    color: var(--navigation);
  }
</style>
