<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 skill-block">
      <img src="/assets/images/angular.png" alt="Angular logo" />
      <span>Angular</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 skill-block">
      <img src="/assets/images/react-logo.png" alt="ReactJS logo" />
      <span>ReactJS</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 skill-block">
      <img src="/assets/images/typescript-logo.png" alt="Typescript logo" />
      <span>Typescript</span>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 skill-block">
      <img src="/assets/images/html-5-logo.png" alt="HTML 5 logo" />
      <span>HTML / CSS</span>
    </div>
  </div>
</div>

<style>
  .skill-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .skill-block img {
    width: 100px;
    height: 100px;
  }
</style>
