<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Sprachen</h3>
      <ul>
        <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>Foo</li>
        <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>Bar</li>
        <li><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>Baz</li>
        <li><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>Bar</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>Frameworks</h3>
      <ul>
        <li>Foo</li>
        <li>Bar</li>
        <li>Baz</li>
      </ul>
    </div>
  </div>
</div>

<style>
  .skill-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .skill-block img {
    width: 100px;
    height: 100px;
  }
</style>
