<div class="root">
  <div class="project-block"></div>
  <div class="project-block"></div>
  <div class="project-block"></div>
</div>

<style>
  .root {
    overflow: auto;
    white-space: nowrap;
  }

  .project-block {
    display: inline-block;
    margin-right: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #eee;
  }
</style>
