@if(timelineSpan){

<div class="container" (click)="toggleContent()">
  <span class="year-range">
    <span class="year">{{ timelineSpan.yearFrom }} </span>
    <span>-</span>
    <span
      class="year"
      [ngClass]="{ 'highlight-now': timelineSpan.yearTo === undefined }"
      >{{ timelineSpan.yearTo || "now" }}</span
    >
  </span>
  <i class="fa-solid fa-chevron-down"></i>
</div>
@if(expanded) {
<div style="margin-bottom: 2rem; max-width: 750px">
  <p class="job-title">{{ timelineSpan.jobTitle }}</p>
  <p>{{ timelineSpan.content }}</p>
</div>
} }
