---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/marco-rehmer/assets/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/marco-rehmer/assets/fontawesome/css/fontawesome.min.css" />
		<link rel="stylesheet" href="/marco-rehmer/assets/fontawesome/css/solid.min.css" />
		<link rel="stylesheet" href="/marco-rehmer/assets/fontawesome/css/brands.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
