@import '../../breakpoints.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint('s') {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    color: var(--gray);
  }
}
