<div style="display: flex; flex-direction: column; row-gap: 2rem">
  <div class="fade-in-block">
    <app-hero></app-hero>
  </div>

  <div class="fade-in-block">
    <app-about></app-about>
  </div>

  <div class="fade-in-block">
    <app-timeline></app-timeline>
  </div>

  <div class="fade-in-block">
    <app-projects-gallery></app-projects-gallery>
  </div>

  <div class="fade-in-block">
    <app-contact-box></app-contact-box>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <span>© {{ currentYear }} Marco Rehmer</span>
  <a href="/imprint">Impressum</a>
  <span
    >Handcrafted with
    <a href="https://angular.dev/"><i class="fa-brands fa-angular"></i></a
  ></span>
</div>
